body {
    background-color: rgb(80, 34, 34);
    color: rgb(255, 242, 242);
}

 .nav_bar a{
    color: rgb(255, 242, 242);
    text-decoration: none;
 }

 /* home page */
 .home h1{
     text-align:center;
 }
.home img{
    padding: 5px;
}