a {
    color: #FCEDED;
}

body {

    background-color: rgb(80, 34, 34);
    color: rgb(255, 242, 242);
}

.create {
    text-align: center;
    margin-top: 30px;
}
.creatediv {
    display: inline-block;
    text-align: left;
}
.createh1{
    margin-bottom: 30px;
}
button {
    background-color: #FCEDED;
}

 .nav_bar a{
    color: rgb(255, 242, 242);
    text-decoration: none;
 }

 /* home page */
 .home h1{
     text-align:center;
 }
.home img{
    padding: 5px;
}


/* Book Detail */
.bookImage{
    max-width: 300px;
    float:left;
}
.bookDetail{
    padding: 70px 50px 0 50px;
}
.bookDetailInfo{
    background-color:rgba(50, 27, 27, 0.558);
    padding: 1% 0 10% 1%;
}
.bookText h3, h5{
    padding: 5px 10px 5px 350px;
}
.author{
    font-size: 14px;
}
.bookPreview{
    font-size: 17px;
}
.bookGenre{
    font-size: 17px;
}
  .section {
    position: relative;
    font-size: 30px;
    z-index: 1;
    text-align: center;
    padding: 140px 0 50px 0;
}
h4:before, h4:after {
    position: absolute;
    top: 70%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: white;
}
h4:before {
    margin-left: -50%;
    text-align: right;
}

.bookMovies{
    text-align: center;
}
.bookPlays{
    text-align: center;
    padding: 30px 0 0 0;
}
.bookMovieImg{
    text-align: center;
}
.bookPlayImg{
    text-align: center;
}