ul {
    list-style: none;
}
a {
    color: #FCEDED;
    text-decoration: none;
}
body {

    background-color: rgb(80, 34, 34);
    color: rgb(255, 242, 242);
}
/*  Create Pages */
.create {
    text-align: center;
    margin-top: 30px;
}
.creatediv {
    display: inline-block;
    text-align: left;
    margin: 0 30% 5% 30%;
    padding: 10px;
    background-color:rgb(255, 242, 242);
    color: rgb(77, 30, 30);
    border-radius: 5px;
    text-align: center;
}
.creatediv form{
    width:300px;
}
.createh1{
    margin-bottom: 30px;
}
button {
    background-color: #FCEDED;
}

.creatediv form {
    text-align: left;
    margin: 5% 10% 5% 10%;
}
.creatediv button {
    background-color: rgb(77, 30, 30);
    color:rgb(255, 242, 242);
    border-color: rgb(77, 30, 30);
    position: relative; 
    left: 40%;
    transform: translateX(-50%);
    
}
.creatediv button:hover{
    background-color: rgb(255, 242, 242);
    color:rgb(77, 30, 30);
    border-color: rgb(77, 30, 30);
}
/* Nav Bar */
.navbar-custom {
    background-color: rgb(255, 242, 242);
}
.navbar-text {
    color: rgb(77, 30, 30);
}
.basebar a{
    color: rgb(77, 30, 30);
}
.nav_bar ul{
    color: rgb(77, 30, 30);;
    text-decoration: none;
 }
 .basebar a:hover{
     font-weight: bold;
 }
.nav_bar h1{
    text-decoration: none;
    font-weight: bold;
    margin-left: 2%;
    margin-top: 2%;
}

.marquee {
    color: rgb(255, 242, 242);
    position: relative;
    white-space: nowrap;
    -webkit-animation: rightThenLeft 15s linear;
}
.marquee a{
    text-decoration: none
}
.marquee a:hover{
    color: rgba(255, 213, 213, 0.886);
}

@-webkit-keyframes rightThenLeft {
    0%   {left: 0%;}
    50%  {left: 100%;}
    100% {left: 0%;}
}
 /* home page */
 .home h1,h2{
     text-align:center;
 }
.home img{
    padding: 5px rgb(255, 242, 242);
}
.loginLogout{
    margin: 60px 60px 60px 60px;
}
.loginLogout p {
    width: 650px;
    margin: 0 auto;
    display: flex;
    padding: 30px 0 30px 0;
    text-indent: 190px;
}
.homeimage{
    display: flex;
    margin: 0 auto;
}
.signup{
    margin: 0 15px 0 45%;
    padding: 5px;
    background-color:rgb(255, 242, 242);
    color: rgb(77, 30, 30);
    border-radius: 5px;
}
.signup:hover{
    background-color:rgb(77, 30, 30);
    color: rgb(255, 242, 242);
    border-radius: 1px solid rgb(255, 242, 242);
    text-decoration: none;
}
.login{
    margin-left: 15px;
    padding: 5px;
    background-color:rgb(255, 242, 242);
    color: rgb(77, 30, 30);
    border-radius: 5px;
}
.login:hover{
    background-color:rgb(77, 30, 30);
    color: rgb(255, 242, 242);
    border-radius: 1px solid rgb(255, 242, 242);
    text-decoration: none;
}
.namecards {
    color:rgb(77, 30, 30);
}
.col-md-4 {
    margin-bottom: 5%;
}
.btn-primary{
    background-color: rgb(255, 242, 242) !important;
    color:rgb(77, 30, 30);
    border-color: rgb(77, 30, 30);
}
.btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: rgb(77, 30, 30) !important;
    color:rgb(255, 242, 242);
    border-color: rgb(77, 30, 30);
}

@media (min-width: 576px) { 
  .card-columns {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    column-gap: .2rem;
    orphans: 1;
    widows: 1;
    margin: 1%;
  }
}
 /* Signup page */
.signuppage {
    margin: 5% 30% 5% 30%;
    padding: 10px;
    background-color:rgb(255, 242, 242);
    color: rgb(77, 30, 30);
    border-radius: 5px;
    text-align: center;
}
.signuppage form {
    text-align: left;
    margin: 5% 10% 5% 10%;
}
.signuppage button {
    background-color: rgb(77, 30, 30);
    color:rgb(255, 242, 242);
    border-color: rgb(77, 30, 30);
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    
}
.signuppage button:hover{
    background-color: rgb(255, 242, 242);
    color:rgb(77, 30, 30);
    border-color: rgb(77, 30, 30);
}
/* Log in Page */
.loginpage {
    margin: 5% 30% 5% 30%;
    padding: 10px;
    background-color:rgb(255, 242, 242);
    color: rgb(77, 30, 30);
    border-radius: 5px;
    text-align: center;
}
.loginpage form {
    text-align: left;
    margin: 5% 10% 5% 10%;
}
.inputlogin {
    background-color: rgb(77, 30, 30);
    color:rgb(255, 242, 242);
    border-color: rgb(77, 30, 30);
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    
}
.inputlogin:hover{
    background-color: rgb(255, 242, 242);
    color:rgb(77, 30, 30);
    border-color: rgb(77, 30, 30);
}
/* Book Page */
.booksPage h1, form{
    text-align: center;
}
.title {
    font-weight: bolder;
    font-size: larger;
}
/* Book Detail */
.bookImage{
    max-height: 300px;
    float:left;
}
.bookDetail{
    padding: 70px 50px 50px 50px;
}
.bookDetailInfo{
    background-color:rgba(0, 0, 0, 0.558);
    padding: 20px 20px 6vh 20px;
}
.bookText h3, h5{
    padding: 5px 10px 5px 350px;
}
.author{
    font-size: 14px;
}
.bookPreview{
    font-size: 17px;
}
.bookGenre{
    font-size: 17px;
}
  .section {
    position: relative;
    font-size: 30px;
    z-index: 1;
    text-align: center;
    padding: 140px 0 50px 0;
}
h4:before, h4:after {
    position: absolute;
    top: 70%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: white;
}
h4:before {
    margin-left: -50%;
    text-align: right;
}

.bookMovies{
    text-align: center;
}
.bookPlays{
    text-align: center;
    padding: 30px 0 0 0;
}
.bookMovieImg{
    text-align: center;
}
.bookPlayImg{
    text-align: center;
}
/* Broadway Page */
.broadwayPage h1, form{
    text-align: center;
}
/* Broadways Detail */
.playImage{
    max-height: 300px;
    float:left;
}
.playDetail{
    padding: 70px 50px 50px 50px;
}
.playDetailInfo{
    background-color:rgba(0, 0, 0, 0.558);
    padding: 20px 20px 6vh 20px;
}
.playText h3, h5{
    padding: 5px 10px 5px 350px;
}
.director{
    font-size: 14px;
}
.playMovies{
    text-align: center;
}
.playBooks{
    text-align: center;
    padding: 30px 0 0 0;
}
.playMovieImg{
    text-align: center;
}
.playBookImg{
    text-align: center;
}
/* Movie Page */
.moviePage h1, form{
    text-align: center;
}
/* Movie Detail */
.movieImage{
    max-height: 300px;
    float:left;
}
.movieDetail{
    padding: 70px 50px 50px 50px;
}
.movieDetailInfo{
    background-color:rgba(0, 0, 0, 0.558);
    padding: 20px 20px 6vh 20px;

}
.movieText h3, h5{
    padding: 5px 10px 5px 350px;
}
.moviePlays{
    text-align: center;
}
.movieBook{
    text-align: center;
    padding: 30px 0 0 0;
}
.moviePlayImg{
    text-align: center;
}
.movieBookImg{
    text-align: center;
}
.trailerpadding{
    padding: 15px;
}
iframe{
    display: block;
    margin: 0 auto;
}

/* Profile Page */
.profile h1 {
    text-align: center;
}
.listName {
    padding: 0;
    text-align: center;
}
.createList{
    margin: 0 auto;
    display: table;
    padding: 10px;
    background-color: rgb(255, 242, 242);
    color:rgb(77, 30, 30);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.createList:hover{
    color: rgb(255, 242, 242);
    background-color: rgb(77, 30, 30);
    text-decoration: none;
    border: 1px solid rgb(255, 242, 242);
}
.listLink:hover{
    text-decoration: none;
    color: rgba(255, 213, 213, 0.886);
}
.listDetailColumn{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.listDetail h1{
    text-align: center;
    font-weight: 100;
    font-size: xxx-large;
}
.listDetail h3{
    padding-bottom: 10px;
    text-align: center;
}
.listDetail a{
    display: flex;
    align-items:center;
}
.listDetail h5{
    padding: 0;
}
.listDetail h5:hover{
    text-decoration: none;
    color: rgba(255, 213, 213, 0.886);
}
.listDetail a:hover{
    text-decoration: none;
}
.listDetail li{
    list-style: none;
    display: flex;
    align-items: center;
}
.listDetail ul{
    padding: 0;
}
.listDetail img{
    margin: 0 20px 10px 30%;
    max-width:45px;
}
/* Edit/Delete Button */
.editDelete{
    text-align: center;
    margin: 40px 0 20px 0;
}
.editDelete a{
    margin: 0 150px 0 150px;
    padding: 5px;
    background-color:rgb(255, 242, 242);
    color: rgb(77, 30, 30);
    border-radius: 5px;
}
.editDelete a:hover{
    background-color:rgb(77, 30, 30);
    color: rgb(255, 242, 242);
    border-radius: 1px solid rgb(255, 242, 242);
    text-decoration: none;
    border: 1px solid rgb(255, 242, 242);
}
/* Delete list */
/* .deleteList {
    margin: 5% 30% 5% 30%;
    padding: 10px;
    background-color:rgb(255, 242, 242);
    color: rgb(77, 30, 30);
    border-radius: 5px;
    text-align: center;
} */
.deleteList form {
    text-align: left;
    margin: 5% 10% 5% 10%;
}
.deleteConfirm {
    background-color: rgb(77, 30, 30);
    color:rgb(255, 242, 242);
    border-color: rgb(77, 30, 30);
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    
}
.deleteConfirm:hover{
    background-color: rgb(255, 242, 242);
    color:rgb(77, 30, 30);
    border-color: rgb(77, 30, 30);
}
.deletePost {
    background-color: rgb(77, 30, 30);
    color:rgb(255, 242, 242);
    border-color: rgb(77, 30, 30);
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    
}
.deletePost:hover{
    background-color: rgb(255, 242, 242);
    padding: 5px;
    color:rgb(77, 30, 30);
    border-color: rgb(77, 30, 30);
    text-decoration: none;
}
/* Update list */
.updatelist h1{
    text-align: center;
}
.updateInfo {
    text-align: center;
}