{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
    <script defer src="{% static 'scripts/app.js' %}"></script>
    <title>
        {% block title %}
        {% endblock %}
    </title>
  </head>
  <header>
    <div class = nav_bar>
      {% block header %}
      <h5>WishWash</h5>
      <a href = '/books/'>Books</a>
      <a href = '/movies/'>Movies</a>
      <a href = '/broadways/'>Broadways</a>
      <a href = '/user/{{user.username}}'>Profile</a>
      <a href="/accounts/logout/">Sign Out</a>
      <a href= "{% url 'addbook' %}">Create Book</a>
      <a href= "{% url 'addmovie' %}">Create Movie</a>
      <a href= "{% url 'addplay' %}">Create Play</a>
      {% endblock %}
    </div>  
  </header>
  <body>
    {% block content %}  
    {% endblock %}
  </body>
</html>