{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class='booksPage'>
<h1>{{header}}</h1>
<!-- <script>
        function getBooks(){
            document.getElementById('output').innerHTML = "";
            fetch('http://openlibrary.org/search.json?q='+document.getElementById('input').value)
            .then(a => a.json())
            .then(response => {
                for(let i = 0; i< response.docs.length; i ++){
                    document.getElementById('output').innerHTML+="<h2>"+response.docs[i].title+"</h2>"+response.docs[i].author_name[0]+"<br><img src ='https://covers.openlibrary.org/b/isbn/"+ response.docs[i].isbn[0]+"-M.jpg'><br>";
                }
            });
        }
    </script>
    <input id = 'input'>
    <button onclick="getBooks()">Get Book</button>
    <br>
    <div id='output'></div>
        </div> -->
<form>
    <div>
        <input type='text' name='name' placeholder='Book Title' />
        <input type='submit' value='Search' />
    </div>
</form>

<div class="namecards">
    <div class="py-5">
        <div class="container">
            <div class="row hidden-md-up">
                {% for book in books %}
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{book.img}}" alt="Card image cap" width ="300" height="300">
                        <div class="card-body">
                            <p class="card-text">{{book.title}}</p>
                            <p class="card-text">Author: {{book.author}}</p>
                            <a href="{% url 'detailBook' book.pk %}" class="btn btn-primary">view</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}