{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Broadways Page</h1>
    <form>
        <div>
            <input type ='text' name='name' placeholder='Broadway Title'/>
            <input type = 'submit' value='Search'/>
        </div>
    </form>
    {% for play in plays %}
    <div>
        <a href="{% url 'detailBroadway' play.pk %}">
            <h3>{{play.title}}</h3>
        </a>
        <img  style = "max-width:50px" src = "{{play.img}}"/>
        <h5>{{play.director}}</h5>
        <h5>{{play.cast}}</h5>
        <h5>{{play.book}}</h5>
        <h5>{{play.movie}}</h5>
    </div>
    {% endfor %}
{% endblock %}
