{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Broadways Page</h1>
    <h1>{{header}}</h1>
    <form>
        <div>
            <input type ='text' name='name' placeholder='Broadway Title'/>
            <input type = 'submit' value='Search'/>
        </div>
    </form>
    <div class="namecards">
        <div class="py-5">
            <div class="container">
                <div class="row hidden-md-up">
                    {% for play in plays %}
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{{play.img}}" alt="Card image cap" height="300">
                            <div class="card-body">
                                <h5 class="card-title">{{play.title}}</h5>
                                <p class="card-text">Director: {{play.director}}</p>
                                <a href="{% url 'detailBroadway' play.pk  %}" class="btn btn-primary">view</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
   
{% endblock %}
