{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Detail page for movie</h1>
    <div>
        <div>
            <h3>{{movie.title}}</h3>
            <img  style = "max-width:50px" src = "{{movie.img}}"/>
            <h5>{{movie.cast}}</h5>
            <h5>{{movie.trailer}}</h5>
            <h5>{{movie.book}}</h5>
            <h5>{{movie.plays}}</h5>
        </div>
        <div>
            <span class = "spanbuttons"><a href="{% url 'movieedit' movie.pk %}">Edit Task</a></span>
            <span class = "spanbuttons"><a href="{% url 'moviedelete' movie.pk %}">Delete Task</a></span>
        </div>
    </div>
{% endblock %}
