{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Detail page for movie</h1>
    <div>
        <div>
            <h3>{{movie.title}}</h3>
            <img  style = "max-width:50px" src = "{{movie.img}}"/>
            <h5>{{movie.cast}}</h5>
            <iframe width="560" height="315" src="{{movie.trailer}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <ul class = 'ul'>
                {% for book in movies.books.all %}
                    <li>{{book.name}}</li>
                {% empty %}
                    <div>No book</div>
                {% endfor %}
            </ul>
            <ul class = 'ul'>
                {% for play in movies.plays.all %}
                    <li>{{play.name}}</li>
                {% empty %}
                    <div>No play</div>
                {% endfor %}
            </ul>
        </div>
        <div>
            <span class = "spanbuttons"><a href="{% url 'movieedit' movie.pk %}">Edit Task</a></span>
            <span class = "spanbuttons"><a href="{% url 'moviedelete' movie.pk %}">Delete Task</a></span>
        </div>
    </div>
{% endblock %}
