{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Detail page for broadway</h1>
    <div>
        <h3>{{play.title}}</h3>
        <img  style = "max-width:50px" src = "{{broadway.img}}"/>
        <h5>{{play.director}}</h5>
        <h5>{{play.cast}}</h5>
        <h4>Plays</h4>
        <ul class = 'ul'>
            {% for book in plays.books.all %}
                <li>{{book.name}}</li>
            {% empty %}
                <div>No book</div>
            {% endfor %}
        </ul>
        <ul class = 'ul'>
            {% for movie in plays.movies.all %}
                <li>{{movie.name}}</li>
            {% empty %}
                <div>No movie</div>
            {% endfor %}
        </ul>
    </div>
    <div>
        <span class = "spanbuttons"><a href="{% url 'broadwayedit' play.pk %}">Edit Task</a></span>
        <span class = "spanbuttons"><a href="{% url 'broadwaydelete' play.pk %}">Delete Task</a></span>
    </div>
{% endblock %}
