{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class='bookDetail'>
        <div class='bookDetailInfo'>
            <img class='bookImage'src = "{{book.img}}"/>
                <div class = 'bookText'>
                    <h3>{{book.title}}</h3>
                    <h5 class='author'>By {{book.author}}</h5>
                    <h5>Overview :</h5>
                    <h5 class ='bookPreview'>{{book.preview}}</h5>
                    <h5>Genre :</h5>
                    <h5 class='bookGenre'>{{book.genre}}</h5>
                </div>
        </div>  
        <h4 class = 'section'>You May Also Like</h4>
        <h3 class ='bookMovies'>Movies</h3>
            <div class='bookMovieImg'>
                {% for movie in book.movies.all %}
                    <a href="{% url 'detailMovie' movie.pk %}">
                        <img  style = "max-width:100px" src = "{{movie.img}}"/>
                    </a>
                {% empty %}
                    <div>No Movie</div>
              {% endfor %}
            </div>
        <h3 class= 'bookPlays'>Plays</h3>
            <div class='bookPlayImg'>
            {% for play in book.plays.all %}
                <a href="{% url 'detailBroadway' play.pk %}">
                    <img  style = "max-width:100px" src = "{{play.img}}"/>
                </a>
                {% empty %}
                    <div>No Play</div>
            {% endfor %}
            </div>
        </div>
    <div>
        <span class = "spanbuttons"><a href="{% url 'bookedit' book.pk %}">Edit Task</a></span>
        <span class = "spanbuttons"><a href="{% url 'bookdelete' book.pk %}">Delete Task</a></span>
    </div>
    
{% endblock %}
