{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
<div class="home">
    <h2>{{header}}</h2>
    <form>
        <div>
            <input type ='text' name='name' placeholder='Search All'/>
            <input type = 'submit' value='Search'/>
        </div>
    </form>
    <h1>Books</h1>
    <div class="card-columns py-3">
        <div class="container">

            {% for book in books %}
            {% if forloop.counter <= 10 %} <div class="card" style="width: 20rem;">
                <a href="{% url 'detailBook' book.pk %}">
                    <img height="300" width="300" src="{{book.img}}" class="card-img-top" alt="img">
                </a>
        </div>
        {% endif %}
        {% endfor %}

    </div>
</div>

    <h1>Movies</h1>
        <div class="card-columns py-3">
            <div class="container">
                {% for movie in movies %}
                {% if forloop.counter <= 10 %} 
                <div class="card" style="width: 20rem;">
                    <a href="{% url 'detailMovie' movie.pk %}">
                        <img height="300" width="300" src="{{movie.img}}" class="card-img-top" alt="img">
                    </a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>

<h1>Broadways</h1>
    <div class="card-columns py-3">
        <div class="container">
            {% for play in plays %}
            {% if forloop.counter <= 10 %} <div class="card" style="width: 20rem;">
                <a href="{% url 'detailBroadway' play.pk %}">
                    <img height="300" width="300" src="{{play.img}}" class="card-img-top" alt="img">
                </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
</div>
{%else %}
<div class='loginLogout'>
    <img class='homeimage' height='350' width='650'
        src='https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/18-books-being-made-into-movies-lead-1513187821.jpg'>
    <p>
        Love Movies? Books? Broadways?
        <br>
        Wishwash is a place where you can look up broadways, books, and movies to see if they were adapted into other entertainment platforms. By creating an account, you have the opportunity to create your own 'Save List' if you find anything that may interest you.
    </p>
    <a class='signup' href="{% url 'signup' %}">Sign Up</a>
    <a class='login' href="{% url 'login' %}">Login</a>
</div>
{% endif %}

{% endblock %}