{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
<div class="home">
    <h1>Books</h1>
    <div class="card-columns py-3">
        <div class="container">

            {% for book in books %}
            {% if forloop.counter <= 10 %} <div class="card" style="width: 20rem;">
                <a href="{% url 'detailBook' book.pk %}">
                    <img height="300" width="300" src="{{book.img}}" class="card-img-top" alt="img">
                </a>
        </div>
        {% endif %}
        {% endfor %}

    </div>
</div>

<h1>Movies</h1>
<div class="card-columns py-3">
    <div class="container">

        {% for movie in movies %}
        {% if forloop.counter <= 10 %} <div class="card" style="width: 20rem;">
            <a href="{% url 'detailMovie' movie.pk %}">
                <img height="300" width="300" src="{{movie.img}}" class="card-img-top" alt="img">
            </a>
    </div>
    {% endif %}
    {% endfor %}
</div>
</div>

<h1>Broadways</h1>
<div class="card-columns py-3">
    <div class="container">

        {% for play in plays %}
        {% if forloop.counter <= 10 %} <div class="card" style="width: 20rem;">
            <a href="{% url 'detailBroadway' play.pk %}">
                <img height="300" width="300" src="{{play.img}}" class="card-img-top" alt="img">
            </a>
    </div>
    {% endif %}
    {% endfor %}

</div>
</div>
</div>
{%else %}
<div class='loginLogout'>
    <img class='homeimage' height='350' width='650'
        src='https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/18-books-being-made-into-movies-lead-1513187821.jpg'>
    <p>
        Love movies? books? broadways?
        <br>
        Wishwash is a place where you can easily find out if your favorite books were ever adapted into a movie,
        performed on broadway or vise versa. You can also create your own 'Save List' if you find anything that may
        interest you.
    </p>
    <a class='signup' href="{% url 'signup' %}">Sign Up</a>
    <a class='login' href="{% url 'login' %}">Login</a>
</div>
{% endif %}

{% endblock %}