{% extends 'base.html' %}
{% block content %}
<div class="create">
    <h1 class="createh1">Update {{list.name }}</h1>
        <p>
            * To add or remove multiple items - hold down the shift button when selecting
        </p>
        <div class='creatediv'>
            <form action = "" method = 'post'>
                {% csrf_token %}
                {{form.as_p}}
                <button type = 'submit' class="btn btn-light" value = 'Submit'>Submit</button>
            </form>
        </div>
</div>
{% endblock %}