{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class='moviePage'>
    <h1>{{header}}</h1>
    <form>
        <div>
            <input type ='text' name='name' placeholder='Movie Title'/>
            <input type = 'submit' value='Search'/>
        </div>
    </form>
    <div class="namecards">
        <div class="py-5">
            <div class="container">
                <div class="row hidden-md-up">
                    {% for movie in movies %}
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{{movie.img}}" alt="Card image cap" height="300">
                            <div class="card-body">
                                <h5 class="card-title">{{movie.title}}</h5>
                                <p class="card-text"></p>
                                <a href="{% url 'detailMovie' movie.pk %}" class="btn btn-primary">view</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
